<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo.css" type="text/css">
    <!-- Bootstrap Core CSS -->
    <link href="Bootstrap/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="Bootstrap/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="Bootstrap/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="Bootstrap/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="Bootstrap/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="Bootstrap/font-awesome.min.css" rel="stylesheet" type="text/css">
    <title>Master Plan</title>
</head>

<body>

    <!--Seccion Menu Superior-->

    <!--Logo-->

    <div class="navbarLogo" style="margin: 0px;">

        <div class="logo">

            <img src="Imgs/Inicio/logoinmob.png" alt="logoinmob">

        </div>

    </div>

    <!--Contenedor Menú + Horario Piloto-->

    <div class="navbarMaster" style="padding: 0px;">

        <div class="OptNavBar">

            <a href="index.html">INICIO</a>
            <a href="registro.html">REGISTRO</a>
            <a href="masterplan.html">MASTER PLAN</a>

        </div>


        <div class="InfoPiloto">

            VISITA A PILOTOS: LUNES A VIERNES DE 11:00 A 18:00 HRS. +56913365409 inmobiliaria@amanecersa.cl

        </div>

    </div>

<!--Termino Menú Superior-->

<!--Body Page-->

    <!--Master Plan-->

    <div class="col-lg-12 MasterPlan" style="padding: 0px;">

        <!--Contenedor Master Plan-->

        <div class="col-lg-12" style="background-color:#f2eadf;">

            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <h1 style="font-family:Arial, Helvetica, sans-serif; text-align: center; color: gray;">
                    MASTER PLAN</h1>
            </div>
            <div class="col-lg-4"></div>

        </div>

        <!--Imagen Master Plan-->

        <img src="Imgs/MasterPlan/final-Masterplan-casas-vendidas.jpg" alt="MasterPlan">

    </div>

    <!--Sobre Nosotros-->

    <div class="col-lg-12" style="padding: 0px;">

        <!--Contenedor Titulo-->

        <div class="col-lg-12" style="background: rgb(48, 48, 48); padding: 0px;">

            <div class="col-lg-4"></div>
            <div class="col-lg-4" style="text-align: center; padding-top: 20px; padding-bottom: 20px; 
            color: rgb(155, 155, 155);">
                <h1>NOSOTROS</h1>
            </div>
            <div class="col-lg-4"></div>

        </div>

        <!--Contenedor Información-->

        <div class="col-lg-12" style="background: rgb(48, 48, 48); padding: 0px;">

            <div class="col-lg-3"></div>

            <div class="col-lg-6" style="padding-top: 30px; padding-bottom: 50px; color: ivory;">

                <p>La vida contemporánea trae consigo nuevas formas de desplazarnos y relacionarnos con el espacio</p>
                <p>La optimización del tiempo, la agitación de la ciudad, las nuevas tecnologías, entre otras cosas, han
                    ido generando que el espacio donde vivimos sea fundamental para nuestro estilo de vida. Es por esto
                    que cada vez es más relevante la distribución de los espacios de nuestra casa y su ubicación en
                    relación a los colegios y diversos servicios.</p>
                <p>El condominio privado Nogales del Cid nace de la idea de un grupo de profesionales de crear la casa
                    de sus sueños. Es así como encontramos este terreno que nos cautivó, donde decidimos tomar el
                    desafío de construir 16 casas distribuidas en 3 grupos, relativamente independientes entre sí, pero
                    conectadas para mayor seguridad.</p>
                <p>La visión con la que se concibe este proyecto de Amanecer S.A. está fundada en los más de 40 años de
                    experiencia en la industria inmobiliaria y de la construcción de sus socios fundadores. Es una
                    visión de futuro, desde su experiencia personal e involucrándose ellos mismos en cada una de las
                    etapas de este sueño.</p>

            </div>

            <div class="col-lg-3"></div>

        </div>

        <!--Ubicación-->

        <div class="col-lg-12" style="padding: 0px;">


            <div class="col-lg-12">

                <!--Contenedor Titulo-->

                <div class="col-lg-4"></div>

                <div class="col-lg-4">

                    <h1 style="font-family:Arial, Helvetica, sans-serif; text-align: center; color: gray;
                    padding-top: 20px; padding-bottom: 20px;">UBICACIÓN</h1>

                </div>

                <div class="col-lg-4"></div>

            </div>

            <!--Contenedor Imagen-->

            <div class="col-lg-12" style="padding: 0px;">

                <div class="col-lg-4"></div>

                <div class="col-lg-4" style="padding-bottom: 25px;">

                    <img src="Imgs/MasterPlan/mapa-ubicacion-final.jpg" alt="ubicación" style="padding: 0px;">

                </div>

                <div class="col-lg-4"></div>

            </div>

        </div>

<!--Termino Body-->

<!--Seccion Footer-->

        <div class="col-lg-12" style="background-color: rgb(15, 15, 15); padding-top: 25px;
            padding-right: 30px; padding-left: 30px; padding-bottom: 30px;">

            <div class="col-lg-2"></div>
            <div class="col-lg-8" style="text-align: center; color: ivory;">

                <p>Dirección: Paseo Del Cid 4181, Lo Barnechea. Teléfono: +56 9 6159 2501 Email:
                    nogalesdelcid@amanecersa.cl</p>
                <p>Horario de atención es de Lunes a Viernes de 11:00 a 18:00 hrs.</p>

            </div>
            <div class="col-lg-2"></div>
        </div>


    </div>

<!--Termino Footer-->

</body>

<!--Script-->

<script src="JS/jquery-3.5.1.js"></script>
<script src="JS/galeria.js"></script>
<script src="JS/menu.js"></script>

</html>