{% extends 'base.html' %}
{% load static %}

{% block contenido %}

<div class="col-lg-12" style="padding: 0px;">

    <!--Contenedor con Imagen de Fondo-->

    <div class="col-lg-12" style="background-image:url(Inmo_Amanecer/Inmo_Amanecer/static/Imgs/Inicio/frentecasa.webp);
    background-position: center bottom; background-repeat: no-repeat;
    background-size: cover; padding-top: 100px; padding-right: 50px;
    padding-bottom: 100px; padding-left: 50px;">


        <!--Contenedor Texto Casa Piloto-->

        <div class="col-lg-4" style="background-color:rgba(0,0,0,0.41); padding-top: 20px;
        padding-bottom: 50px;">

            <!--Contendeor-->

            <div class="TextoHeader">

                <img src="{% static 'Imgs/Inicio/logoproyecto.png' %}" alt="logoproyecto" style="padding: 0px;">
                <h1>VISITE CASA PILOTO</h1>
                <h1 style="text-decoration: line-through;">16 Exclusivas Casas</h1>
                ULTIMAS 7 CASAS DISPONIBLES
                <h4>5 Dormitorios + Basement más estar</h4>
                <p>360 m<sup>2</sup> construidos aproximadamente.</p>

            </div>

        </div>

        <div class="col-lg-4"></div>
        <div class="col-lg-4"></div>

    </div>

</div>

<!--Contenedor Galería + Plantas-->

<div class="col-lg-12">

    <!--Contenedor Titulo Galeria-->

    <div class="TituloGaleria">

        <h1>GALERIA</h1>

    </div>

    <!--Contenedor Galeria Carrousel-->

    <div class="Galeria">

        <div class="retroceder botonesGaleria">
            &#60
        </div>

        <div class="avanzar botonesGaleria">
            &#62
        </div>

        <img src="{% static 'Imgs/Galeria/img1.jpg' %}" alt="" id="imagen">

    </div>

    <!--Contenedor Plantas-->

    <div class="col-lg-12" style="padding-bottom: 10px;">

        <!--Titulo Plantas-->

        <div class="TituloPlantas">

            <h1>PLANTAS</h1>

        </div>

        <!--Contenedro Imagenes Plantas-->

        <div class="col-lg-12" style="padding: 10px; height: 100%; width: 100%;">

            <div class="col-lg-4" style="padding: 10px;">
                <img src="{% static 'Imgs/Pisos/Planta_subterraneo-2-800x528.jpg' %}" alt="">
            </div>
            <div class="col-lg-4" style="padding: 10px;">
                <img src="{% static 'Imgs/Pisos/Planta_1er_piso-1-800x528.jpg' %}" alt="">
            </div>
            <div class="col-lg-4" style="padding: 10px;">
                <img src="{% static 'Imgs/Pisos/Planta_2do_piso-1-800x528.jpg' %}" alt="">
            </div>

        </div>

    </div>

</div>

<!--Caracteristicas Condominio-->

<div class="col-lg-12 CaracteristicasImagen">

    <!--Contenedor Información-->

    <div class="col-lg-4 TextoCaracteristicas" style="padding-top: 30px; padding-bottom: 30px;">

        <h1 style="color: black;">Caracteristicas</h1>

        <ul style="color: black;">

            <li>Condominio privado de solo 16 casas separado en 3 sectores</li>
            <li>Cerco eléctrico perimetral y moderno sistema de seguridad</li>
            <li>Terminaciones de lujo y eficiencia energética</li>
            <li>Aire acondicionado incorporados a la arquitectura</li>
            <li>Basement en subterraneo de 70 m<sup>2</sup>con conexión a jardín</li>
            <li>Montaplatos en primer, segundo piso y basement</li>
            <li>Gran dormitorio principal, con terraza y aislación acústica</li>
            <li>Altura 2.7 metros</li>
            <li>Excelente distribución de espacios</li>

        </ul>

    </div>

</div>

{% endblock %}