{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo.css" type="text/css">
    <link rel="stylesheet" href="{% static 'Css/estilo.css' %}" type="text/css">
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'Css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

    <!-- MetisMenu CSS -->
    <link rel="stylesheet" href="{% static 'Css/metisMenu.min.css' %}" type="text/css">

    <!-- Timeline CSS -->
    <link rel="stylesheet" href="{% static 'Css/timeline.css' %}" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'Css/sb-admin-2.css' %}" type="text/css">

    <!-- Morris Charts CSS -->
    <link rel="stylesheet" href="{% static 'Css/morris.css' %}" type="text/css">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{% static 'Css/font-awesome.min.css' %}" type="text/css">
    <title>Registro</title>
</head>

<body id="bodyRegistro">

    <!--Menu superior con Logo-->

    <div class="navbarMaster" style="margin: 0%;">

        <div class="logo">

            <img src="{% static 'Imgs/Inicio/logoinmob.png' %}" alt="logoinmob">

        </div>

        <div class="OptNavBar">

            <a href="/index">INICIO</a>
            <a href="/cotizacioncliente">REGISTRO</a>
            <a href="/masterplan">MASTER PLAN</a>

        </div>

        <div class="InfoPiloto">

            VISITA A PILOTOS: LUNES A VIERNES DE 11:00 A 18:00 HRS. +56913365409 inmobiliaria@amanecersa.cl

        </div>

    </div>

    <!--Contenedor del Registro-->

    <div id="page-wrapper" style="margin: 0%; padding: 0px; background-image: url(Imgs/Inicio/frentecasa.webp); background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover; background-color: rgba(0,0,0,0.41);">

        <!--Logo Nogales del Cid-->

        <div class="row" style="margin: 0px;">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <img src="{% static 'Imgs/Inicio/logoproyecto.png' %}" alt=""
                    style="display: block; margin: auto; padding-bottom: 20px; padding-right: 0%;">
            </div>
        </div>

        <!--Contenedor Principal-->

        <div class="row col-lg-12" style="padding: 0px; margin: 0px; margin-bottom: 0px; margin-top: 0px;">
            <div class="col-lg-4"></div>

            <!--Contenedor Panel de Registro-->

            <div class="col-lg-4" style="color: ivory; padding: 0px;">



                <div class="panel panel-default" style=" margin: 10px; background-position: center bottom;
                background-repeat: no-repeat;
                background-size: cover; background-color: rgba(0,0,0,0.41);">

                    <!--Header Registro-->

                    <div class="panel-heading"
                        style=" background-position: center bottom;
                    background-repeat: no-repeat;
                    background-size: cover; background-color: rgba(0,0,0,0.41); color: ivory; text-align: center; font-size: large;">
                        REGISTRO
                    </div>

                    <!--Body Registro-->

                    <div class="panel-body" style="background-color: rgba(0,0,0,0.41);">
                        <div class="row">
                            <div class="col-lg-12">

                                <!--Formulario-->

                                <form action="" method="POST" class="formulario" id="formulario">
                                {% csrf_token %}        
                                    <div style="padding: 0px;" id="grupo__nombre">
                                        
                                        <label for="nombre" class="formulario__label">Nombre Completo</label>
                                        {{form.nombreCompleto}}

                                    </div>

                                    <div id="grupo__mail">

                                        <label for="mail" class="formulario__label">Correo</label>

                                        {{form.mail}}
                                            
                                    </div>

                                    <div id="grupo__telefono">
                                        
                                        <label for="telefono" class="formulario__label">Telefono</label>
                                        {{form.telefono}}
                                            
                                    </div>

                                    <div class="formulario__mensaje" id="formulario__mensaje">
                                        <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Ingreso de datos
                                            incorrecto.</p>
                                    </div>

                                    <div class="formulario__grupo formulario__grupo-btn-enviar">

                                        <button type="submit" class="formulario__btn">Registrar</button>
                                        <p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Registro
                                        exitoso!</p>

                                        {{mensaje}}

                                    </div>

                                </form>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <!--Termino Contenedor Principal-->

            <div class="col-lg-4"></div>
        </div>
    </div>

    <!--Seccion de Footer-->

    <div class="col-lg-12" style="background-color: rgb(15, 15, 15); padding-top: 25px;
            padding-right: 30px; padding-left: 30px; padding-bottom: 30px;">

        <div class="col-lg-2"></div>
        <div class="col-lg-8" style="text-align: center; color: ivory;">

            <p>Dirección: Paseo Del Cid 4181, Lo Barnechea. Teléfono: +56 9 6159 2501 Email: nogalesdelcid@amanecersa.cl
            </p>
            <p>Horario de atención es de Lunes a Viernes de 11:00 a 18:00 hrs.</p>

        </div>
        <div class="col-lg-2"></div>
    </div>

</body>

<!--Scripts-->

<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
<!--<script src="{% static 'Js/formulario.js' %}"></script>-->
<script src="{% static 'js/jquery-3.5.1.js' %}"></script>

</html>