{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Css/estilo.css' %}" type="text/css">
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Ingreso al Sistema</title>

</head>

<body style="background-color: rgb(20, 20, 20); background-image: url('/static/Imgs/Inicio/frentecasa.webp'); background-repeat: no-repeat; background-size: cover;">
    {% load crispy_forms_tags %}
    <div class="navbarLogo">

        <!--Logo-->

        <div class="logo">

            <img src="{% static 'Imgs/Inicio/logoinmob.png' %}" alt="logoinmob">

        </div>

    </div>

    <div class="container">
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">

                <div class="card">
                    <div class="card-body">
                        <h2>Ingrese sus Credenciales</h2>
                        <hr>
                        <form action="" method="POST">

                            {% csrf_token %}

                            {{form | crispy}}

                            <input type="submit" value="Ingresar" class="btn btn-success float-left">
                            <a href="{% url 'Index' %}" class="btn btn-info float-right">Volver al Inicio</a>

                        </form>
                        
                    </div>

                    <div style="text-align: left; padding-left: 16px; padding-bottom: 16px;">

                        <a href="{% url 'Recuperar_Contraseña' %}">¿Olvidaste tu contraseña?</a>

                    </div>
                </div>

            </div>

        </div>
        <br>
        <br>
        <br>

    </div>

    <!--Sección de Footer-->

    <div class="col-lg-12 footer InfoFooter" style="color: ivory; margin: 0px;">
        <!--Contenedor Texto Footer-->

        <p>Dirección: Paseo Del Cid 4181, Lo Barnechea. Teléfono: +56 9 6159 2501 Email: nogalesdelcid@amanecersa.cl
        </p>
        <p>Horario de atención es de Lunes a Viernes de 11:00 a 18:00 hrs.</p>
    
    </div>
    
</body>

</html>